
// Tabs
.tab-content{
    > .tab-pane{.hidden}
    > .active{.block}
}
.nav-tab-fill{.overh;
	li{.fl;
		&:not(:first-child){.ml(4px);
			@media @desktop{.ml(12px)}
		}
		a{.btn-h32;.btn-outline;.btn-radius;
			@media @desktop{.btn-h40;.w(110px);.btn-radius}
		}
		&.active{
			a{.btn-fill-secondary}
		}
	}
}
.nav-tab-fill-triangle{.dp-table;.w-full;table-layout:fixed;.pb(6px);
	@media @desktop{.pb(8px)}
	li{.bg(#e1e1e1);
		a{.block;.fs(14);.lh(40px);
			@media @desktop{.fs(20);.lh(64px)}
		}
		&.active{.rel;.bg(@color-secondary);.bold;.c(#fff);
			&:before{content:'';.block;.abs;top:100%;left:50%;.w(0);.h(0);.ml(-6px);border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid @color-secondary;
				@media @desktop{.ml(-8px);border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid @color-secondary}
			}
		}
	}
}
// .nav-tab-border{.horiz-center;.clear;.mb(32px);
// 	@media @fromtablet{.mb(64px)}
// 	li{
// 		@media @fromtablet{.w(160px)}
// 		&:first-child{
// 			a{.radius-right(0)}
// 		}
// 		&:nth-child(2):not(:last-child){
// 			a{.radius(0)}
// 		}
// 		&:last-child{
// 			a{.radius-left(0)}
// 		}
// 		a{.block}
// 		&:not(.active){
// 			a{.btn-outline}
// 			&:not(:first-child){
// 				// a{.blnone}
// 			}
// 		}
// 		&.active{
// 			a{.btn-fill-primary}
// 		}
// 	}
// }
.nav-tab-underline{.dp-table;table-layout:fixed;.w-full;.mtb(@gap-mobile);
	@media @desktop{.mtb(@gap-desktop)}
	li{.pb(8px);.bb(#e1e1e1,4px);.c(#666);
		@media @desktop{.pb(16px);.fs(20)}
		&.active{.bb(#333,4px);.bold;.c(#333)}
	}
	a{.block}
}